# XML.php
# Multiple XML parsers with a common abstraction layer

# Source file or directory to parse
#source: ../libs
# Use a generated source tree directory

# Directory where to save the generated documentation
destination: ../_extras/devmanual.php

# Title of generated documentation
title: Developer's Manual

# Generate documentation for PHP internal classes
php: Yes
# Generate tree view of classes, interfaces and exceptions
tree: Yes
# Generate documentation for deprecated classes, methods, properties and constants
deprecated: Yes
# Generate highlighted source code files
sourceCode: No
# Add a link to download documentation as a ZIP archive
download: No

# Wipe out the destination directory first
wipeout: Yes
# Don't display scanning and generating messages
quiet: No
# Display progressbars
progressbar: No
# Use colors
colors: No
# Check for update
updateCheck: No
# Display additional information in case of an error
debug: No

# EOF